{% extends 'base.html.twig' %}

{% block title %}Games{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-12 col-lg-8 mx-auto mt-4 js-search-container">
            <div class="input-group ">
                <input type="text" class="form-control js-search-box" placeholder="Enter a game's name, edition etc."
                       aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-primary js-search-btn" type="button">Search</button>
                </div>
            </div>
        </div>
    </div>

    <h1 class="text-center my-5">Recently added games</h1>

    <div class="row js-card-container">
        {% for game in games %}
            {# game \App\Entity\Game #}
            <div class="col-sm-6 col-md-4 col-xl-2 px-lg-2 mx-auto mb-4">
                <div class="card">
                    <a href="{{ path('game_show', {'slug': game.slug}) }}">
                        <img src="{{ game.coverUrl('cover_uniform') }}" class="card-img-top">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title text-truncate">{{ game.name }}</h5>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="row px-3 px-lg-2 js-load-container">
        <div class="mx-auto">
            <div class="loader"></div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('js/search') }}
{% endblock %}