{% extends 'base.html.twig' %}

{% block title %}Games{% endblock %}

{% block body %}
    <style>
        /* responsively enforce wrapping */
        .card-deck span {
            display: none;
        }

        @media (min-width:1200px){
            .card-deck span:nth-of-type(5n) {
                display: block;
                width: 100%;
            }

        }
        @media (min-width:992px) and (max-width: 1199px) {
            .card-deck span:nth-of-type(4n) {
                display: block;
                width: 100%;
            }

        }
        @media (min-width:768px) and (max-width: 991px) {
            .card-deck span:nth-of-type(3n) {
                display: block;
                width: 100%;
            }
        }
        @media (min-width: 576px) and (max-width: 767px) {
            .card-deck span:nth-of-type(2n) {
                display: block;
                width: 100%;
            }
        }


        /* add css for margin fix -- this will not be needed after beta */
        .card-deck .card {
            margin-left: 15px;
            margin-right: 15px;
        }

        .card-deck .card:not(:last-child) {
            margin-right: 15px;
        }

        .card-deck .card:not(:first-child) {
            margin-left: 15px;
        }
    </style>
    <h1 class="text-center">Results for <em>{{ query }}</em></h1>

    <div class="results" data-url="{{ path('game_search_scroll') }}">
        <div class="card-deck">
            {% for game in games %}
                {# game \App\Entity\Game #}
                <div class="card mb-4">
                    <a href="{{ path('game_show', {'slug': game.slug}) }}">
                        <img src="{{ game.coverUrl('cover_uniform') }}" class="card-img-top img-fluid">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">{{ game.name }}</h5>
                    </div>
                </div>
                <span></span>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/search.js') }}"></script>
{% endblock %}