{% extends 'base.html.twig' %}

{% block title %}Games{% endblock %}

{% block body %}
    <h1 class="text-center">Results for <em>{{ query }}</em></h1>

    <div class="results" data-url="{{ path('game_search_scroll') }}">

        {% for row in games|batch(3) %}
            <div class="row">
                {% for game in row %}
                <div class="col-lg-4">
                    {# game \App\Entity\Game #}
                    <div class="card">
                        <a href="{{ path('game_show', {'slug': game.slug}) }}">
                            <img src="{{ game.coverUrl('cover_uniform') }}" class="card-img-top">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">{{ game.name }}</h5>
                        </div>
                    </div>

                </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/search.js') }}"></script>
{% endblock %}