<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('css/global') }}
    {% endblock %}
</head>
<body>
    {% block navbar %}
        {% set route, user = app.request.get('_route'), app.user %}

        <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark py-1">
            <a class="navbar-brand" href="{{ path('home_index') }}">Game Hound</a>
            <button class="navbar-toggler"  data-toggle="collapse" data-target="#navbarMenu"
                    aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse text-center" id="navbarMenu">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item {{ route starts with 'home' ? 'active' }}">
                        <a class="nav-link" href="{{ path('home_index') }}">Home <span class="sr-only">(current)</span></a>
                    </li>

                    {% if user %}

                        <li class="nav-item {{ route starts with 'user' ? 'active' }}">
                            <a class="nav-link"
                               href="{{ path('user_show', {username: user.username}) }}">Profile</a>
                        </li>

                    {% endif %}

                    <li class="nav-item {{ route starts with 'game_collection' ? 'active' }}">
                        <a class="nav-link" href="{{ path('game_collection_index') }}">
                            Collections
                        </a>
                    </li>
                </ul>

                {% if not user %}

                    <ul class="navbar-nav ml-lg-auto m-2">
                        <li class="navbar-btn">
                            <a class="btn btn-sm btn-success" href="{{ path('security_login') }}">Log In/Sign Up</a>
                        </li>
                    </ul>

                {% else %}

                    <ul class="navbar-nav ml-auto m-2">
                        <li class="navbar-btn">
                            <a class="btn btn-sm btn-success" href="{{ path('security_logout') }}">Log Out</a>
                        </li>
                    </ul>

                {% endif %}
            </div>
        </nav>
    {% endblock %}

    <div class="col-xs-12 col-lg-8 mx-auto text-center py-3 js-alert-container">
        {{ include('default/session_flash_bag.html.twig') }}
    </div>

    <div class="container-fluid text-center">
        {% block body %}{% endblock %}
    </div>

    {% block javascripts %}
        {{ encore_entry_script_tags('js/app') }}
    {% endblock %}
</body>
</html>
