{% extends 'base.html.twig' %}

{% block title %}Add {{ game.name }} to a collection{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-12 col-lg-10 mx-auto">
            <h1>Add {{ game.name }} to a collection</h1>
            <a href="{{ path('game_collection_new') }}"
               class="btn btn-primary btn-sm mb-3">
                Create a Collection
            </a>

            {% embed 'game_collection/_list.html.twig' %}
                {% block game_collection_link %}
                    <form action="{{ path('game_collection_add_game', {'id': game_collection.id, 'game_id': game.id}) }}"
                          method="post">
                        <input type="hidden" name="_method" value="PUT">
                        <button type="submit" class="btn btn-link p-0 text-truncate">{{ game_collection.name }}</button>
                    </form>
                {% endblock %}

                {% block _list_empty %}
                    <td>You don't have any collections yet :(</td>
                {% endblock %}
            {% endembed %}
        </div>
    </div>
{% endblock %}