{% extends 'base.html.twig' %}

{% block title %}{{ game_collection.name }}{% endblock %}

{% block body %}
    <h1>{{ game_collection.name }}</h1>

    {% set username, granted = game_collection.user.username, is_granted('GAME_COLLECTION_EDIT', game_collection) %}
    <h2>Created by: <a href="{{ path('user_show', {'username': username}) }}">{{ username }}</a></h2>

    <table class="table">
        <tbody>
        {% for game in game_collection.games %}
            {# game \App\Entity\Game #}
            <tr>
                <td>{{ game.coverUrl('cover_small') }}</td>
                <td><a href="{{ path('game_show', {'slug': game.slug}) }}">{{ game.name }}</a></td>
                {% if granted %}
                    <td>
                        <a class="btn btn-primary btn-game-remove"
                           href="{{ path('game_collection_remove', {'id': game.id}) }}"
                           data-csrf="{{ csrf_token('dete' ~ game.id) }}">
                            Remove
                        </a>
                    </td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td>No games added yet.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if granted %}
        <div class="actions">
            <a class="btn btn-primary" href="#">Add a game</a>
            {{ include('game_collection/_delete_form.html.twig') }}
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/collection.js') }}"></script>
{% endblock %}
