{% extends 'base.html.twig' %}

{% block title %}GameCollection{% endblock %}

{% block body %}
    <h1>{{ game_collection.name }}</h1>

    {% set username = game_collection.user.username %}
    <h2>Created by: <a href="{{ path('user_profile', {'username': username}) }}">{{ username }}</a></h2>

    <table class="table">
        <tbody>
        {% for game in game_collection.games %}
            {# game \App\Entity\Game #}
            <tr>
                <td>{{ game.coverUrl('cover_small') }}</td>
                <td><a href="{{ path('game_view', {'slug': game.slug}) }}">{{ game.name }}</a></td>
                <td></td>
            </tr>
        {% else %}
            <tr>
                <td>No games added yet.</td>
            </tr>
        {% endfor %}
        </tbody>

    </table>

    {% if app.user is same as(game_collection.user) %}
        <a href="{{ path('game_collection_edit', {'id': game_collection.id}) }}">Add a game</a>
    {% endif %}

    {{ include('game_collection/_delete_form.html.twig') }}
{% endblock %}
