{% extends 'base.html.twig' %}

{% block title %}{{ game_collection.name }}{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-6 mx-auto">
            <h1>{{ game_collection.name }}</h1>

            {% set username, granted = game_collection.user.username, is_granted('GAME_COLLECTION_EDIT', game_collection) %}
            <h5>Created by: <a href="{{ path('user_show', {'username': username}) }}">{{ username }}</a></h5>

            <div class="actions my-4">
                {% if granted %}
                    <a class="btn btn-primary" href="{{ path('home_index') }}">Add a game</a>
                    {{ include('game_collection/_delete_form.html.twig') }}
                {% endif %}
            </div>

            <table class="table table-dark">
                <tbody>
                {% for game in game_collection.games %}
                    {# game \App\Entity\Game #}
                    <tr>
                        <td>{{ game.coverUrl('cover_small') }}</td>
                        <td><a href="{{ path('game_show', {'slug': game.slug}) }}">{{ game.name }}</a></td>
                        {% if granted %}
                            <td>
                                <a class="btn btn-primary btn-game-remove"
                                   href="{{ path('game_collection_remove', {'id': game.id}) }}"
                                   data-csrf="{{ csrf_token('delete' ~ game.id) }}">
                                    Remove
                                </a>
                            </td>
                        {% endif %}
                    </tr>
                {% else %}
                    <tr>
                        <td>No games added yet.</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/collection.js') }}"></script>
{% endblock %}
